@media only screen and (min-width: 992px) and (max-width: 1300px) {



}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.logo{
        width: 100%;
        text-align: center;
    }
    .hotline{
        padding: 10px 0;
    }
    .social-profile{
        text-align: center;
        padding: 15px 0;
    }
    .slide-text h1{
    	font-size: 40px;
    }
    .service-content a > h3 > span{
    	font-size: 14px;
    }
    .single-gallery{
        width: 50%;
    }

}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
	.logo{
		width: 100%;
		text-align: center;
	}
	.hotline{
		padding: 10px 0;
	}
	.social-profile{
		text-align: center;
		padding: 15px 0;
	}
    .menu-button{
    	display: block;
    }
    .main-menu-area{
    	background-color: #fff;
    	padding-top: 55px;

    }
    .main-menu > ul{
    	display: none;
    }
    .main-menu > ul > li{
    	float: none;
        width: 85%;
        margin: 0 auto;
        border: none;
    }
    .main-menu > ul > li:first-child{
        border-left: none;
    }
    .main-menu > ul > li >  a{
    	font-size: 14px;
    	padding: 5px 20px;
    	background-color: #000;
    	color: #fff;
    	margin-bottom: 10px;
        border-radius: 5px;
        border: none;
        letter-spacing: 5px;
    }
    .main-menu > ul > li div.mega-menu ul{
    	position: relative;
    	width: 100%;
    	top: 0;
    	padding: 0;
    	overflow: hidden;
    	clear: both;
        display: none;
        transform: scaleY(1);
    }
    .main-menu > ul > li div.mega-menu ul > li{
    	float: none;
    	width: 100%;
    	margin: 5px 0;
    	overflow: hidden;
    	clear: both;
        border: none;
    }
    .main-menu > ul > li div.mega-menu ul::after{
    	display: none;
    }
    .menu-icon{
        display: none;
    }
    .main-menu > ul > li div.mega-menu ul > li > a div.menu-text{
    	width: 100%;
	    padding: 0px;
	    height: 22px;
        border-radius: 3px;
	    background-color: #34495e;
    }
    .menu-text > h3{
    	color: #fff;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0;
        padding: 4px 15px;
    }
    .menu-text > p{
    	display: none;
    }
    .slider-area .nivo-caption{
    	margin-bottom: -40px;
    }
    .slide-text h1{
    	font-size: 20px;
    	margin-bottom: 0px;
    }
    .slide-text p{
    	font-size: 12px;
    }
    .slider-area:hover #slider .nivo-directionNav a.nivo-prevNav{
		left: -300px;
     }
    .slider-area:hover #slider .nivo-directionNav a.nivo-nextNav{
	    right: -300px;
     }
    .section-title h1{
    	font-size: 20px;
    }
    .course-desc{
    	width: 50%;
    }
    .course-desc > a > h2{
    	font-size: 10px;
    }
    .author-message p{
    	font-size: 12px;
    	
    }
    .single-service{
    	width: 50%;
    	overflow: hidden;
    	margin: 0 auto;
    	height: 190px;
    	border: none;
    }
    .authorized-image{
    	padding: 0;
    	width: 100%;
    	float: none;
    	text-align: center;
    }
    .authorized-text{
    	width: 100%;
    	float: none;
    }
    .authorized-text h2{
    	font-size: 16px;
    	text-align: center;
    }
    .authorized-text h1{
    	font-size: 23px;
    	text-align: center;
    }
    .copyright-text p{
    	text-align: center;
    	margin-bottom: 5px;
    }
    .designer p{
    	text-align: center;
    }
    .single-gallery{
        width: 100%;
    }
    .gallery-image img{
        width: 100%;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {


}
